/* Content */

.section {
    position: absolute;
    visibility: visible;
}

.section.hidden {
    visibility: hidden;
}

#home {
    display: block;
    opacity: 1;
}

* {
    margin: 0;
    padding: 0;
}

body {
	margin: 0;
	padding: 0;

	color: #001000;
	font-family: "PT Sans Narrow", sans-serif;
	font-size: 90%;

	text-align: left;
	line-height: 1.3;
}

a, a:active, a:visited {
	color: #405040;
    text-decoration: none;
    border-bottom: 1px solid #e0e0e0;
}

p a, p a:active, p a:visited {
    color: #404040;
    border-bottom: none;
}

a:hover {
	color: #608060;
    border-bottom: 1px solid #808080;
}

h1 a {
    border-bottom: none;
}

.page {
    background: #fff;

	position: absolute;
    margin: auto 0 auto 12em;

	top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#shapes {
    position: absolute;
    margin: auto;

    overflow: hidden;

    width: 12em;
    height: 100%;

    left: 0;
    top: 0;
    bottom: 0;
}

.square {
    position: absolute;

    width: 2em;
    height: 30em;

    margin: auto;

    left: 11em;
    right: 0;
    top: 0;
    bottom: 0;
}

.bar {
    position: absolute;
}

.header * {
    display: inline;
}

#icon {
    padding-left: 1em;
}

.description {
    padding: 1em 0 2em;
}

.description .separator {
    padding-top: 1.5em;
}

em {
    font-size: 95%;
    font-style: normal;
    color: #707870
}

hr {
    margin: 1em 0 0.5em;
}

h1 {
    padding-left: 0.5em;
}

h1.second {
    padding-left: 0.1em;
}

h2 {
	font-size: 2.3em;
	font-weight: 400;
}

h3 {
    font-size: 2em;
    font-weight: 400;
}

p {
    font-size: 1.4em;
}

.block {
    margin: 0.5em 0;
    padding-left: 1em;

    background: #fff;
}

.line-a {
    color: #202820;
}

.line-b {
    color: #404840;
}

.line-c {
    color: #404840;
}

.line-c em {
    color: #98A098;
}

ul li {
	display: inline;
	font-weight: 400;
	padding-right: 0.5em;
	font-size: 1.5em;
	letter-spacing: 0.01em;
}

#logo {
    padding-right: 0.25em;
}

/* Animation */
@keyframes flicker {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes flicker-light {
    0% {
        opacity: 0.8;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.8;
    }
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#logo {
    transform-origin: 50% 50%;
    animation: spin 5s linear infinite;
}

#square-1 {
    animation: flicker 10s ease infinite;
    left: 11em;
}

#square-2 {
    animation-delay: 2s;
    animation: flicker 8s ease infinite;
    left: 11.25em;
}

#square-3 {
    animation-delay: 3s;
    animation: flicker 6s ease infinite;
    left: 11.5em;
}

#square-4 {
    animation-delay: 4s;
    animation: flicker 4s ease infinite;
    left: 11.75em;
}

#square-5 {
    animation: flicker-light 10s ease infinite;
    left: 11.75em;
}

#bar-1 {
    animation: flicker-light 10s ease infinite;
    height: 0.4em;
}

#bar-2 {
    animation-delay: 2s;
    animation: flicker 8s ease infinite;
    height: 0.6em;
}

#bar-3 {
    animation-delay: 3s;
    animation: flicker 12s ease infinite;
    height: 0.8em;
}

#bar-4 {
    animation-delay: 4s;
    animation: flicker 8s ease infinite;
    height: 1em;
}

/* Breakpoints */

@media screen
and (min-width : 0px)
and (max-width: 768px){
    .page {
        margin: 2em 0 auto 2em;
    }
    .header * {
        display: inline-block;
    }
    #icon {
        display: none;
    }
    h1 {
        padding: 0;
        width: 100%;
        text-align: center;
    }
    .contact, .nav {
        padding: 0;
        width: 100%;
        text-align: center;
    }
    #shapes { display: none }
    body {
        box-shadow: none;
    }
}

@media screen
and (min-width : 768px) {
    .page {
        width: 42em;
        height: 30em;
    }
}